<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RateApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <add name="connStr" connectionString="Data Source=Lipsey03;Initial Catalog=lme_1020;User ID=Lipsey_Reports;Password=Lips123!;" />
    <!-- <add name="connStr" connectionString="Data Source=Lipsey04;Initial Catalog=lme_DEV_1020;User ID=sa;Password=lipsey123;" />-->
  </connectionStrings>
  <applicationSettings>
    <RateApp.Properties.Settings>
      <setting name="UserMode" serializeAs="String">
        <value>Admin</value>
      </setting>
    </RateApp.Properties.Settings>
  </applicationSettings>
</configuration>